# Native test executables.
/tests/test-cahill-keyes-projection
/tests/test-cahill-keyes-projection-api
/tests/test-cahill-keyes-path-functions
/tests/test-cahill-keyes-slicing
/tests/test-authagraph-projection-api
/tests/test-dymaxion-projection-api
/tests/test-myriahedral-projection-api
/tests/test-myriahedral-slicing
/tests/test-projection-generation-common
/tests/test-star-x-projection-api
/tests/test-voronoi-projection-api

# Native generator executables.
/src.generate/generate-geometry
/src.generate/generate-graticules-ck
/src.generate/generate-earth-ck
/src.generate/generate-water-ck
/src.generate/generate-graticules
/src.generate/generate-earth
/src.generate/generate-water
/src.generate/generate-4-slice
/src.generate/generate-8-slice
/src.generate/generate-myriahedral-slices

# Downloaded inputs and local build products.
/assets.static/natural-earth/10m-physical-vectors/
/docs/doxygen/
/build/
